<div class="sidenav-container">
  <mat-toolbar color="primary">
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar pointer" src="assets/img/avatars/8.jpg">
      <h3 class="name-chat" mat-line>{{ userName }}</h3>
    </div>
  </mat-toolbar>

  <div class="chat-contacts-container" fxLayout="column">
    <perfect-scrollbar>
      <mat-nav-list class="chat-contacts" id="chat-contacts">
        <mat-list-item
          class="chat-contact"
          color="primary"
          *ngFor="let chat of chats"
          (click)="setActiveChat(chat)"
          [ngClass]="{'active': chat === chatSelected}"
          mat-ripple
        >
          <img src="assets/img/avatars/noavatar.png" mat-list-avatar>
          <h3
            class="name"
            [ngClass]="{'font-weight-bold': chat.messages && chat.checkSeenMessage.indexOf(authId) == -1 }"
            mat-line>
            {{ chat.members.indexOf(authId) == 0 ? chat.conversationName[1] :  chat.conversationName[0]}}
          </h3>
          <p class="last-message" mat-line
            [ngClass]="{'font-weight-bold': chat.messages && chat.checkSeenMessage.indexOf(authId) == -1 }">
            {{ chat.lastMessage }}
            <span class="secondary-text" style="float: right; font-size: 9px; font-weight: normal;">
              {{ chat.lastMessageTime | date: 'hh:mm' }}
            </span>
          </p>
        </mat-list-item>
      </mat-nav-list>
    </perfect-scrollbar>
  </div>
</div>
